body {
  background-color: #f5f5f5;
  font-family: Arial, sans-serif;
}

form {
  margin: 0 auto;
  max-width: 500px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

input {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
}

input:hover{
  background-color: #f3f3f3;
}

.botao {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
  background-color: #008CBA;
  color: #fff;
  cursor: pointer;
  transition-duration: 0.3s;
}

.botao:hover {
  background-color: #00557e;
}

img {
  width: 50px;
}