<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filmes</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <form method="POST" action="/busca" margin="auto">
        <input type="text" name="filme" autocomplete="off" placeholder="Digite o Nome de um filme">
        <br>
        <button class="botao" type="submit">Enviar</button>
    </form>
    <section class="imagens">
        {% for image in imagens %}
        <img src="{{image}}" alt="Poster do filme">
        {% endfor %}    
    </section>


    <!-- Esse script serve para ao recarregar a imagem o servidor voltar para a rota inicial "/" -->
    <script>
    if (performance.navigation.type == 1) {
       window.location.replace('/');
    }
    </script>
      
</body>
</html>